@font-face {
    font-family: Manrope;
    src: url(Manrope.ttf);
}

* {
    font-family: Manrope;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202733;
}

#advice-box {
    width: 450px;
    border-radius: 15px;
    background-color: #313A48;
    padding: 48px;
    padding-bottom: 72px;
    position: relative;
}

#title {
    color: #53FFAA;
    font-size: 13px;
    letter-spacing: 4.09px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

#advice {
    margin-top: 24px;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 0.3px;
    line-height: 38px;
    color: #CEE3E9;
    width: 100%;
    text-align: center;
}

#line {
    display: flex;
    align-items: center;
    gap: 16px;
}

.horizontal-line {
    height: 1px;
    width: calc((100% - 52px) / 2);
    background-color: #4F5D74;
}

#vertical-lines {
    display: flex;
    gap: 8px;
}

.vertical-line {
    background-color: #CEE3E9;
    height: 16px;
    width: 6px;
    border-radius: 3px;
}

#new-advice-button {
    position: absolute;
    bottom: -32px;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

@media (max-width: 520px) {
    #advice-box {
        width: calc(100vw - 32px);
        padding-bottom: 64px;
    }

    #title {
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 3.46px;
    }

    #advice {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.26px;
    }
}